---
title: Le Wagon - Middleman
---

<!-- <div class="container"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <%= partial "layouts/banner" %>
    </div>
  </div>
    <div class="container" id="home-flats">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <%= partial "layouts/card" %>
      </div>

  </div>
<!-- </div> -->
